@font-face {
  font-family: "Garamond";
  src: url(fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Pagella";
  src: url("fonts/tex_gyre_pagella/texgyrepagella-regular-webfont.woff")
      format("woff"),
    url("fonts/tex_gyre_pagella/texgyrepagella-regular.otf") format("opentype");
}

body {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
  font-family: "Pagella";
}

p {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

li {
  font-weight: bold;
}
ol {
  padding-left: 10vw;
  padding-right: 20vw;
  font-size: 1.5rem;
}
ol ol {
  padding-right: 0px;
}
header a p {
	text-align: center;
}
#axioms {
  margin-top: 3vh;
  margin-bottom: 15vw;
}
#submissions {
  text-align: center;
  margin-top: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 7vh;
  font-size: 20px;
}
#submissions i {
  font-weight: normal;
}
#submissions p {
	font-size: 1.1rem;
	text-align: center;
}
#axioms h4 {
  text-align: left;
}
.links {
  margin-top: 7%;
  margin-left: 15%;
  margin-right: 10%;
}
.float-left {
  float: left;
  text-align: left;
  font-size: 1.5rem;
}
.float-right {
  float: right;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.indent {
  padding-left: 5vw;
}
.pagename {
  margin: auto;
  width: 60%;
  margin-bottom: 0.5vh;
  text-align: center;
}
.pagename a p {
  margin-top: 0px;
}
.dynamicList {
  margin-top: 10%;
  margin-left: 10%;
  text-align: left;
}
.dynamicList a {
  display: block;
  line-height: 65%;
  font-weight: bold;
}
.article {
  margin: auto;
  display:inline-block;
  width:fit-content;
  height:fit-content;
  
}
.article p {
  font-weight: normal;
  text-align: center;
}
.homelogo {
  width: 14vh;
  height: auto;
  display: block;
}
.pagelogo {
  width: 8vh;
  height: auto;
}

.innerList {
  font-size: 1rem;
}

.indentList {
  font-size: 1rem;
}

.listTitle {
  font-size: 1.5rem;
}

.pageDescription {
  font-size: 1.1rem;
  margin-top: 25px;
  text-align: center;
  font-style: italic;

}

@media screen and (min-width: 600px) {
	.innerList,.indentList{
		font-size: 1.2rem;
	}
  #submissions {
    margin:auto;
    margin-top:4vh;
    width:40%
  }
	#submissions p {
		font-size: 1.4rem;
	}
	.articleHeader p{
		font-size: 1.15rem;
	}
  .articleHeader {
		width:75%;
    margin:auto;
	}
  .articleHeader a{
		width:40%;
    margin:auto;
	}
	.content p{
		font-size: 1.3rem;
    text-align:left;
    white-space: pre-wrap;
	}
  .content video{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.container{
  position: relative;
}
.page{
  background-color: transparent;
}